deprecated
PythonBatchTools/Batch_Video_Transcription/venv
PythonBatchTools/Batch_Video_Transcription/config.ini
PythonBatchTools/VideoTextOverlay/venv
PythonBatchTools/VideoTextOverlay/video_temp
PythonBatchTools/BatchVideoIntros/myenv
PythonBatchTools/BatchVideoIntros/json_files_to_process
video_input_temp
TempFilesForCodecChange
TempFilesForPrependIntroVideo
_delete_after_a_respectable_amount_of_time
output
PythonBatchTools/Batch_Video_Transcription/temp
PythonBatchTools/Batch_Video_Transcription/_delete
PythonBatchTools/PullJSONFromHTMLTable/myenv
PythonBatchTools/TextToAudio/myenv
PythonBatchTools/TextToAudio/text_to_translate
PythonBatchTools/TextToAudio/voice_test
temp_mp4s
PythonBatchTools/Batch_transcript_to_voice/temp
PythonBatchTools/MergeProjectVideos/myenv
